body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42857142857143;
	letter-spacing: -.005em;
}

.logsol-fixed-table th, .logsol-fixed-table td {
	text-align: center;
	padding: 5px;
}

a {
	text-decoration: none;
}

.logsol-inactive {
	pointer-events: none;
}

.logsol-main-screen {
	background-color: #383737;
}

.logsol-wrapper {
	min-height: 100%;
	padding-top: 0px;
}

.logsol-content {
	position: relative;
	left: 0;
	margin-left: 100px;
	min-height: 100%;
	z-index: 1;
}

.logsol-main-screen .logsol-wrapper .logsol-content {
	margin: 0;
}

.login-container {
	max-width: 400px;
	margin: 80px auto;
	padding: 10px;
}

.login-container .panel-default {
	border: none;
	background: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.login-container .panel-default .panel-heading {
	color: #ada5a5;
	background-color: transparent;
	border-color: #595555;
	padding: 20px;
}

.login-container .panel-default .panel-heading img {
	margin: auto;
	display: block;
}

.login-container .panel-default .panel-heading span {
	text-align: center;
	display: block;
}

.login-container .panel-default .panel-body .form-group {
	margin-top: 20px;
}

.login-container .panel-default .panel-body .form-group .input-group .input-group-addon i
	{
	font-size: 35px
}

.login-container .panel-default .panel-body .form-group .input-group .form-control
	{
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
	color: #a3a2a2;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 36px;
	border-bottom: solid .5px gray;
	border-radius: 0px;
	width: 90%;
}

.alert {
	margin-bottom: 0px;
	color: #f20606;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
}

.login-container .panel-default .panel-body .form-group .input-group .input-group-addon
	{
	color: #a7a4a4;
	background: transparent;
	border: none;
}

.login-container .panel-default .panel-body .form-group.login-submit {
	padding-top: 40px;
	padding-bottom: 15px;
}

.login-container .panel-default .panel-body .form-group.login-submit .btn
	{
	width: 100%;
	padding: 12px 16px;
	font-size: 15px;
	line-height: 1.6333333;
	color: #fff;
	background-color: #ef6262;
	border-color: #ef6262;
}

.navbar-brand:hover {
	background-color: #3d3c3c;
}

.navbar-brand {
	background-size: contain;
	background-color: #3d3c3c;
	color: #ffffff;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 80px;
	height: 80px;
	width: 100px;
	/* background-image: url(../img/nasa.png); */
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 20px;
	border-bottom: 1px solid #474646;
}

.logsol-navbar-default {
	background-color: #ec4444;
	border: none;
}

.logsol-left-sidebar {
	height: 100%;
	width: 100px;
	top: 0;
	left: 0;
	background-color: #111;
	position: fixed;
	overflow-x: hidden;
	margin-top: 80px;
	z-index: 20;
}

.sidebar-elements {
	padding: 0px;
}

.sidebar-elements>li {
	border-bottom: 1px solid #474646;
	list-style: none;
}

.sidebar-elements>li>a {
	display: block;
	padding: 15px;
	color: #e1e1e1;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
}

.sidebar-elements>li>ul {
	position: fixed;
	left: 100px;
	top: 0;
	height: 100%;
	background-color: #484747;
	z-index: 999999;
	padding: 0;
	table-layout: fixed;
	list-style: none;
	width: 280px;
}

.sub-menu>li.title {
	color: #ffffff;
	border-bottom: 1px solid #6d6b6b;
	font-size: 26px;
	font-weight: 300;
	margin: 0 25px 0;
	padding-bottom: 2px;
	padding-top: 24px;
}

.spinner-cntnr {
	height: 50px;
	width: 50px;
	margin: auto;
	background: white;
	margin-top: 20%;
	padding: 10px;
	font-size: 30px;
}

.goodgut-display {
	display: block;
	pointer-events: all;
}

.goodgut-nodisplay {
	display: none;
	pointer-events: none;
}

.goodgut-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.15);
}

.goodgut-form-head {
	background: #ccc;
	padding: 3px 10px;
	border-radius: 2px;
	min-height: 30px;
	display: flex;
}

.goodgut-form-title {
	flex-grow: 2;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
}

.goodgut-form-close :HOVER {
	opacity: .8;
}

.goodgut-form-close {
	font-size: 15px;
	font-weight: 600;
	flex-grow: 0;
	flex-shrink: 0;
	cursor: pointer;
}

.goodgut-form-body {
	padding: 10px 0px;
}

.goodgut-input-wrapper>label {
	width: 120px;
	overflow: hidden;
	line-height: 1.5;
}

.goodgut-input-wrapper input.goodgut-input, .goodgut-input-wrapper select.goodgut-select {
	width: 200px;
	line-height: 2;
}

.goodgut-input-wrapper {
	position: relative;
	float: left;
	margin-right: 20px;
	width: 350px;
	padding: 10px;
}

.menuitem-form, .meal-form-main-div {
	width: 750px;
	margin: auto;
}

.subs-form-main-div,.coupon-form-main-div {
	width: 1120px;
	margin: auto;
}

#menuitem-form-submit {
	width: 120px;
	padding: 5px;
	margin: auto;
	display: block;
	margin-top: 20px;
}

.logsol-li-typea:HOVER {
	background: #5f5f66;
}

.logsol-li-typea {
	color: white;
	display: flex;
	padding: 4px 8px;
	width: 83%;
	margin-top: 10px;
	border-radius: 2px;
}

.sidebar-elements>li>ul a {
	text-decoration: none;
}

.meals-wrapper>div {
	width: 350px;
	float: left;
	margin-bottom: 10px;
}

.meals-wrapper .lable {
	width: 100px;
	float: left;
	overflow: hidden;
}

.switches {
	width: 20px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.submeal-select-box, .submeal-selected-box {
	width: 100px;
	height: 100px;
	border: 1px solid;
	float: left;
	font-size: 10px;
	overflow: auto;
}

.switches .move-to-right, .switches .move-to-left {
	cursor: pointer;
}

.submeal-select-box>.select-meals, .submeal-selected-box>.selected-meals
	{
	padding: 2px;
	cursor: pointer;
}

.submeal-select-box>.sub-selected, .submeal-selected-box>.sub-selected {
	background: gray;
}

.submeal-select-box>.select-meals:HOVER, .submeal-selected-box>.selected-meals:HOVER
	{
	background: #ccc;
}

.order-search-box-main-div,.suborder-search-box-main-div {
	width: 1200px;
	margin: auto;
}




.edit-menu-item-main-div {
	width: 1200px;
	margin: auto;
}

.order-search-box-wrapper,.suborder-search-box-wrapper {
	float: left;
}

.order-search-box-result-wrapper,.suborder-search-box-result-wrapper {
	float: left;
	width: 1200px;
	height: 500px;
	overflow: auto;
	font-size: 12px;
}

.edit-menuItem-box-result-wrapper {
	float: left;
	width: 1200px;
	height: 500px;
	overflow: auto;
	font-size: 12px;
}

.goodgut-datepicker-wrapper {
	width: 200px;
	float: left;
}

.goodgut-noclick {
	pointer-events: none;
}

.addres-popup-wrapper span {
	display: block;
}
logsol-alert-container {
	position: absolute;
	z-index: 10000;
	margin: 60px auto;
	left: 0;
	right: 0;
	top: 0;
	width: 40%;
	text-align: left;
	padding: 10px;
	border-radius: 5px;
	font-family: & quot; Helvetica Neue&quot; , Helvetica ,Arial,sans-serif;
	font-size: 14px;
	width: 40%;
}

.logsol-alert-success {
	color: green;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.logsol-alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.logsol-alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.logsol-alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.logsol-alert-close:HOVER {
	color: #7b7676;
}

.logsol-alert-close {
	position: absolute;
	right: 14px;
	cursor: pointer;
	color: #c2bdbd;
}